USE [master]
GO
/****** Object:  Database [QL_TOUR]    Script Date: 8/8/2023 9:42:23 AM ******/
CREATE DATABASE [QL_TOUR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_TOUR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\QL_TOUR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_TOUR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KTEAM\MSSQL\DATA\QL_TOUR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TOUR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_TOUR]
GO
/****** Object:  Table [dbo].[DIEMDEN]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDEN](
	[MADDEN] [varchar](12) NOT NULL,
	[TENDDEN] [nvarchar](30) NOT NULL,
	[MALOAITOUR] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMDI]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDI](
	[MADDI] [varchar](12) NOT NULL,
	[TENDDI] [nvarchar](30) NOT NULL,
	[MALOAITOUR] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADDI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [varchar](12) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[THANHTIEN] [int] NOT NULL,
	[MATOUR] [varchar](12) NOT NULL,
	[MAKH] [varchar](12) NOT NULL,
	[MANV] [varchar](12) NOT NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](12) NOT NULL,
	[TENKH] [nvarchar](32) NOT NULL,
	[SDT] [bigint] NOT NULL,
	[GIOITINH] [nvarchar](6) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITOUR]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITOUR](
	[MALOAITOUR] [varchar](12) NOT NULL,
	[TENLOAITOUR] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAITOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](12) NOT NULL,
	[TENNV] [nvarchar](32) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](6) NOT NULL,
	[SDT] [bigint] NOT NULL,
	[CCCD] [bigint] NOT NULL,
	[NGAYVL] [date] NOT NULL,
	[MATKHAU] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[LOAITAIKHOAN] [varchar](20) NULL,
	[TAIKHOAN] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 8/8/2023 9:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR](
	[MATOUR] [varchar](12) NOT NULL,
	[TENTOUR] [nvarchar](100) NOT NULL,
	[GIATOUR] [int] NOT NULL,
	[NGAYDI] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[MOTA] [nvarchar](300) NULL,
	[MALOAITOUR] [varchar](12) NOT NULL,
	[MADDEN] [varchar](12) NOT NULL,
	[MADDI] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEMDEN] ([MADDEN], [TENDDEN], [MALOAITOUR]) VALUES (N'DDL01', N'PHÚ QUỐC', N'LT01')
INSERT [dbo].[DIEMDEN] ([MADDEN], [TENDDEN], [MALOAITOUR]) VALUES (N'DDL02', N'ĐÀ NẴNG', N'LT01')
INSERT [dbo].[DIEMDEN] ([MADDEN], [TENDDEN], [MALOAITOUR]) VALUES (N'DDL03', N'HÀ NỘI', N'LT01')
GO
INSERT [dbo].[DIEMDI] ([MADDI], [TENDDI], [MALOAITOUR]) VALUES (N'DKH01', N'HỒ CHÍ MINH', N'LT01')
INSERT [dbo].[DIEMDI] ([MADDI], [TENDDI], [MALOAITOUR]) VALUES (N'DKH02', N'HÀ NỘI', N'LT01')
GO
INSERT [dbo].[HOADON] ([SOHD], [NGAYLAP], [THANHTIEN], [MATOUR], [MAKH], [MANV], [TRANGTHAI]) VALUES (N'HD01', CAST(N'2023-10-23' AS Date), 2300000, N'T01', N'KH01', N'NV01', NULL)
INSERT [dbo].[HOADON] ([SOHD], [NGAYLAP], [THANHTIEN], [MATOUR], [MAKH], [MANV], [TRANGTHAI]) VALUES (N'HD02', CAST(N'2023-08-17' AS Date), 1500000, N'T02', N'KH02', N'NV02', NULL)
INSERT [dbo].[HOADON] ([SOHD], [NGAYLAP], [THANHTIEN], [MATOUR], [MAKH], [MANV], [TRANGTHAI]) VALUES (N'HD03', CAST(N'2023-10-13' AS Date), 5600000, N'TN03', N'KH03', N'NV03', NULL)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [GIOITINH], [EMAIL], [DIACHI], [MATKHAU]) VALUES (N'KH01', N'Trần Ngyuễn Nhật Tân', 969712443, N'Nam', N'tayhovippro@gmail.com', N'đường trần duy hưng, ngõ 37', N'1234')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [GIOITINH], [EMAIL], [DIACHI], [MATKHAU]) VALUES (N'KH02', N'Trông Anh Ngược', 969712454, N'Nam', N'truonganhngoc@gmail.com', N'110 Tuệ tĩnh, khối trung hòa phường hà huy tập', N'1234')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [GIOITINH], [EMAIL], [DIACHI], [MATKHAU]) VALUES (N'KH03', N'Trương Anh Ngọc', 969712744, N'Khác', N'huydoan@gmail.com', N'36 điện biên phủ, quận 2', N'123456')
GO
INSERT [dbo].[LOAITOUR] ([MALOAITOUR], [TENLOAITOUR]) VALUES (N'LT01', N'TOUR TRONG NƯỚC')
INSERT [dbo].[LOAITOUR] ([MALOAITOUR], [TENLOAITOUR]) VALUES (N'LT02', N'TOUR NGOÀI NƯỚC')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [CCCD], [NGAYVL], [MATKHAU]) VALUES (N'NV01', N'Chu Tiến Bình', CAST(N'2003-12-26' AS Date), N'Nam', 942617888, 40203007313, CAST(N'2023-07-07' AS Date), N'nv01')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [CCCD], [NGAYVL], [MATKHAU]) VALUES (N'NV02', N'Lê Văn Luyện', CAST(N'2003-07-25' AS Date), N'Nữ', 942617887, 40203007315, CAST(N'2023-07-02' AS Date), N'123456')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [CCCD], [NGAYVL], [MATKHAU]) VALUES (N'NV03', N'Trần Nhật Huy', CAST(N'2003-08-24' AS Date), N'Nam', 942617886, 40203007318, CAST(N'2023-06-01' AS Date), N'123456')
GO
INSERT [dbo].[TAIKHOAN] ([LOAITAIKHOAN], [TAIKHOAN], [MATKHAU]) VALUES (N'admin', N'admin', N'admin')
INSERT [dbo].[TAIKHOAN] ([LOAITAIKHOAN], [TAIKHOAN], [MATKHAU]) VALUES (N'nhanvien', N'NV01', N'123456')
GO
INSERT [dbo].[TOUR] ([MATOUR], [TENTOUR], [GIATOUR], [NGAYDI], [NGAYKETTHUC], [MOTA], [MALOAITOUR], [MADDEN], [MADDI]) VALUES (N'T01', N'Phú Quốc-Ngắm Hoàng Hôn Tại Sunset Sanato-Bãi Sao', 2300000, CAST(N'2023-10-10' AS Date), CAST(N'2023-10-23' AS Date), N'Phú Quốc là điểm nghỉ dưỡng, tham quan. Đến với Sunset Sanato Beach Club hòa cùng những bản nhạc sôi động, những góc ảnh check-in cực chất và thưởng ngoạn phong cảnh tuyệt đẹp hòa cùng ánh hoàng hôn rực rỡ đang dần dần buông xuống mặt biển bao la.', N'LT01', N'DDL01', N'DKH01')
INSERT [dbo].[TOUR] ([MATOUR], [TENTOUR], [GIATOUR], [NGAYDI], [NGAYKETTHUC], [MOTA], [MALOAITOUR], [MADDEN], [MADDI]) VALUES (N'T02', N'Đà Nẵng - Bà Nà - Cầu Vàng - Sơn Trà - Hội An', 1500000, CAST(N'2023-08-07' AS Date), CAST(N'2023-08-17' AS Date), N'Phố cổ Hội An với lung linh sắc màu của đèn lồng và những hoạt động dân gian đặc sắc Đại Nội Huế rộng lớn nơi hoàng cung xưa của các vua chúa Triều Nguyễn Động Phong Nha thuộc quần thể Di sản thiên nhiên Thế Giới.', N'LT01', N'DDL02', N'DKH02')
INSERT [dbo].[TOUR] ([MATOUR], [TENTOUR], [GIATOUR], [NGAYDI], [NGAYKETTHUC], [MOTA], [MALOAITOUR], [MADDEN], [MADDI]) VALUES (N'T03', N'Hà Nội - Hồ Hoàn Kiếm - Quốc Tử Giám', 3100000, CAST(N'2023-09-11' AS Date), CAST(N'2023-09-18' AS Date), N'Hà Nội nằm ở tả ngạn sông Đà và hai bên đồng bằng sông Hồng. Phía Bắc giáp với tỉnh Vĩnh Phúc và Thái Nguyên, phía Nam giáp tỉnh Hòa Bình, phía Đông giáp với tỉnh Bắc Ninh và Hưng Yên, còn phía Tây giáp tỉnh Vĩnh Phúc.', N'LT01', N'DDL03', N'DKH01')
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ('123456') FOR [MATKHAU]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ('123456') FOR [MATKHAU]
GO
ALTER TABLE [dbo].[DIEMDEN]  WITH CHECK ADD FOREIGN KEY([MALOAITOUR])
REFERENCES [dbo].[LOAITOUR] ([MALOAITOUR])
GO
ALTER TABLE [dbo].[DIEMDI]  WITH CHECK ADD FOREIGN KEY([MALOAITOUR])
REFERENCES [dbo].[LOAITOUR] ([MALOAITOUR])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk01_HOADON] FOREIGN KEY([MATOUR])
REFERENCES [dbo].[TOUR] ([MATOUR])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk01_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk02_HOADON] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk02_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk03_HOADON] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk03_HOADON]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [fk01_TOUR] FOREIGN KEY([MADDEN])
REFERENCES [dbo].[DIEMDEN] ([MADDEN])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [fk01_TOUR]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [fk02_TOUR] FOREIGN KEY([MADDI])
REFERENCES [dbo].[DIEMDI] ([MADDI])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [fk02_TOUR]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [fk03_TOUR] FOREIGN KEY([MALOAITOUR])
REFERENCES [dbo].[LOAITOUR] ([MALOAITOUR])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [fk03_TOUR]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD CHECK  (([GIATOUR]>(0)))
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD CHECK  (([NGAYDI]>=getdate()))
GO
/****** Object:  StoredProcedure [dbo].[DANGNHAP]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANGNHAP]
	@LOAITAIKHOAN VARCHAR(20),
	@TAIKHOAN VARCHAR(50),
	@MATKHAU VARCHAR(50)
AS
BEGIN
	IF  @LOAITAIKHOAN = 'admin'
			SELECT * FROM TAIKHOAN 
			WHERE TAIKHOAN = @TAIKHOAN AND MATKHAU = @MATKHAU
	ELSE IF
		@LOAITAIKHOAN = 'nhanvien' 
			SELECT * FROM NHANVIEN
			WHERE MANV = @TAIKHOAN AND MATKHAU = @MATKHAU
	ELSE 
			SELECT * FROM KHACHHANG 
			WHERE MAKH = @TAIKHOAN AND MATKHAU = @MATKHAU
	
END
GO
/****** Object:  StoredProcedure [dbo].[DANGNHAPNHANVIEN]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANGNHAPNHANVIEN]
	--@LOAITAIKHOAN VARCHAR(20),
	@TAIKOAN VARCHAR(50),
	@MATKHAU VARCHAR(50)
AS
BEGIN
	
	SELECT * FROM NHANVIEN 
	WHERE MANV = @TAIKOAN AND MATKHAU = @MATKHAU
END
GO
/****** Object:  StoredProcedure [dbo].[DELETE1NV]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETE1NV]
	@MANV VARCHAR(12)
AS
BEGIN
	BEGIN TRY
	DELETE FROM HOADON WHERE MANV= @MANV;
	DELETE FROM NHANVIEN WHERE MANV = @MANV;
	RETURN 1;
	END TRY
	BEGIN CATCH 
	RETURN 0;
	END CATCH

end
GO
/****** Object:  StoredProcedure [dbo].[DELETEHOADON]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETEHOADON]
	@SOHD VARCHAR(12)
AS
BEGIN
	BEGIN TRY
	DELETE FROM HOADON WHERE SOHD= @SOHD;
	RETURN 1;
	END TRY
	BEGIN CATCH 
	RETURN 0;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[DELETEKH]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETEKH]
	@MAKH VARCHAR(12)
AS
BEGIN
	BEGIN TRY
	DELETE FROM HOADON WHERE MAKH= @MAKH;
	DELETE FROM KHACHHANG WHERE MAKH = @MAKH;
	RETURN 1;
	END TRY
	BEGIN CATCH 
	RETURN 0;
	END CATCH

end
GO
/****** Object:  StoredProcedure [dbo].[DELETETOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETETOUR]
	@MATOUR VARCHAR(12)
AS
BEGIN
	BEGIN TRY
	DELETE FROM HOADON WHERE MATOUR= @MATOUR;
	DELETE FROM TOUR WHERE MATOUR = @MATOUR;
	RETURN 1;
	END TRY
	BEGIN CATCH 
	RETURN 0;
	END CATCH

end
GO
/****** Object:  StoredProcedure [dbo].[DOIMATKHAU]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[DOIMATKHAU]
@LOAITAIKHOAN VARCHAR(20),
@TAIKHOAN VARCHAR(20),
@OldPass VARCHAR(30),
@NewPass VARCHAR(30)
as
begin
if @LOAITAIKHOAN ='nhanvien'
	begin
    	if exists (select * from NhanVien where MANV = @TAIKHOAN and MATKHAU = @OldPass)
    	begin
        	update NhanVien set MATKHAU = @NewPass where MANV = @TAIKHOAN
        	select 1 as code, N'Thay doi mat khau thanh cong !!' as MSG
   	 	end
    	else
        	select 0 as code, N'Tai khoan hoac mat khau sai !!' as MSG
	end
if @LOAITAIKHOAN = 'admin'
	begin 
		if exists (select * from TAIKHOAN where TAIKHOAN = @TAIKHOAN and MATKHAU = @OldPass)
		begin
        	update TAIKHOAN set MATKHAU = @NewPass where TAIKHOAN = @TAIKHOAN
        	select 1 as code, N'Thay doi mat khau thanh cong !!' as MSG
   	 	end
    	else
        	select 0 as code, N'Tai khoan hoac mat khau sai !!' as MSG
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SELECT1HOADON]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECT1HOADON]
	@SOHD VARCHAR(12)
	AS 
	BEGIN
		SELECT SOHD,
		CONVERT (VARCHAR(11),NGAYLAP,103) AS [NGAYLAP],
		THANHTIEN,
		MATOUR,
		MAKH,
		MANV,
		TRANGTHAI
		FROM HOADON
		WHERE SOHD = @SOHD
	END
GO
/****** Object:  StoredProcedure [dbo].[SELECT1MALOAITOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECT1MALOAITOUR]
	@MALOAITOUR nvarchar(50)
as
BEGIN
	SELECT MALOAITOUR,
	TENLOAITOUR
	FROM LOAITOUR
	WHERE MALOAITOUR = @MALOAITOUR
END
GO
/****** Object:  StoredProcedure [dbo].[SELECT1TOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT1TOUR]
	@MATOUR VARCHAR(12)
AS
BEGIN 
	SELECT MATOUR,
	TENTOUR,
	GIATOUR,
	CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
	CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	MALOAITOUR,
	MADDEN,
	MADDI
		FROM TOUR
		WHERE MATOUR = @MATOUR;
END
GO
/****** Object:  StoredProcedure [dbo].[SELECT1TOURFORMDATTOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT1TOURFORMDATTOUR]
	@MATOUR VARCHAR(12)
AS
SELECT MATOUR,
	TENTOUR,
	GIATOUR,
	CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
	CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	LOAITOUR.TENLOAITOUR,
	DIEMDEN.TENDDEN,
	DIEMDI.TENDDI
		FROM TOUR ,DIEMDEN, DIEMDI, LOAITOUR
		WHERE MATOUR = @MATOUR AND TOUR.MADDEN = DIEMDEN.MADDEN 
		AND TOUR.MADDI = DIEMDI.MADDI AND TOUR.MALOAITOUR= LOAITOUR.MALOAITOUR
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLDATENGAYDI]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SELECTALLDATENGAYDI]
	@NGAYDI VARCHAR(15)
AS
	SELECT MATOUR,
	TENTOUR,
		GIATOUR,
		CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
		CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	MALOAITOUR,
	MADDEN,
	MADDI
	FROM TOUR
	WHERE LOWER(NGAYDI) LIKE '%' + LOWER(TRIM(@NGAYDI)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLDATENGAYDINGAYKETTHUC]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SELECTALLDATENGAYDINGAYKETTHUC]
		@NGAYDI VARCHAR(15),
		@NGAYKETTHUC VARCHAR(15)
AS
	SELECT MATOUR,
	TENTOUR,
		GIATOUR,
		CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
		CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	MALOAITOUR,
	MADDEN,
	MADDI
	FROM TOUR
	WHERE LOWER(NGAYDI) LIKE '%' + LOWER(TRIM(@NGAYDI)) + '%'
		AND	LOWER(NGAYKETTHUC) LIKE '%'+ LOWER(TRIM(@NGAYKETTHUC)) +'%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLDATENGAYSINHNGAYVL]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SELECTALLDATENGAYSINHNGAYVL]
		@NGAYSINH VARCHAR(15),
		@NGAYVL VARCHAR(15)
AS
	SELECT MANV,
	TENNV,
	CONVERT (VARCHAR(11),NGAYSINH,103) AS [NGAYSINH],
	GIOITINH,
	SDT,
	CCCD,
	CONVERT (VARCHAR(11),NGAYVL,103) AS [NGAYVL]
	FROM NHANVIEN
	WHERE LOWER(NGAYSINH) LIKE '%'+ LOWER(TRIM(@NGAYSINH)) +'%'
		AND	LOWER(NGAYVL) LIKE '%'+ LOWER(TRIM(@NGAYVL)) +'%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLDATENV]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SELECTALLDATENV]
	@NGAYSINH VARCHAR(15)
AS
	SELECT MANV,
	TENNV,
	CONVERT (VARCHAR(11),NGAYSINH,103) AS [NGAYSINH],
	GIOITINH,
	SDT,
	CCCD,
	CONVERT (VARCHAR(11),NGAYVL,103) AS [NGAYVL]
	FROM NHANVIEN
	WHERE LOWER(NGAYSINH) LIKE '%'+ LOWER(TRIM(@NGAYSINH)) +'%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLDATENVNGAYKETTHUC]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SELECTALLDATENVNGAYKETTHUC]
	@NGAYKETTHUC VARCHAR(15)
AS
	SELECT MATOUR,
	TENTOUR,
		GIATOUR,
		CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
		CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	MALOAITOUR,
	MADDEN,
	MADDI
	FROM TOUR
	WHERE LOWER(NGAYKETTHUC) LIKE '%' + LOWER(TRIM(@NGAYKETTHUC)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLDATENVNGAYVL]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SELECTALLDATENVNGAYVL]
	@NGAYVL VARCHAR(15)
AS
	SELECT MANV,
	TENNV,
	CONVERT (VARCHAR(11),NGAYSINH,103) AS [NGAYSINH],
	GIOITINH,
	SDT,
	CCCD,
	CONVERT (VARCHAR(11),NGAYVL,103) AS [NGAYVL]
	FROM NHANVIEN
	WHERE LOWER(NGAYVL) LIKE '%'+ LOWER(TRIM(@NGAYVL)) +'%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLDATTOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLDATTOUR]
	@tukhoa NVARCHAR(50)
AS
	SELECT MATOUR,
	TENTOUR,
		GIATOUR,
		CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
		CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
		MOTA
	FROM TOUR
	WHERE LOWER(MATOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TENTOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(NGAYDI) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(NGAYKETTHUC) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLHOADON]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLHOADON]
	@tukhoa NVARCHAR(50)
AS
	SELECT SOHD,
	CONVERT (VARCHAR(11),NGAYLAP,103) AS [NGÀY LẬP],
	THANHTIEN,MATOUR,MAKH,MANV,TRANGTHAI
	FROM HOADON
	WHERE LOWER(SOHD) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(NGAYLAP) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(THANHTIEN) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(MATOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(MAKH) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(MANV) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TRANGTHAI) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLHOADONTRACUU]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLHOADONTRACUU]
	@SOHD VARCHAR(12),
	@NGAYLAP VARCHAR(15),
	@THANHTIEN VARCHAR(15),
	@MATOUR VARCHAR(12),
	@MAKH VARCHAR(12),
	@MANV VARCHAR(12)
	--@TRANGTHAI NVARCHAR(30)
AS
	SELECT SOHD,
	CONVERT (VARCHAR(11),NGAYLAP,103) AS [NGÀY LẬP],
	THANHTIEN,MATOUR,MAKH,MAKH,TRANGTHAI
	FROM HOADON
	WHERE LOWER(SOHD) LIKE '%' + LOWER(TRIM(@SOHD)) + '%'
	AND	LOWER(NGAYLAP) LIKE '%' + LOWER(TRIM(@NGAYLAP)) + '%'
	AND	LOWER(THANHTIEN) LIKE '%' + TRIM(@THANHTIEN) + '%'
	AND	LOWER(MATOUR) LIKE '%' + LOWER(TRIM(@MATOUR)) + '%'
	AND	LOWER(MAKH) LIKE '%' + LOWER(TRIM(@MAKH)) + '%'
	AND	LOWER(MANV) LIKE '%' + LOWER(TRIM(@MANV)) + '%'
--	AND	LOWER(TRANGTHAI) LIKE '%' + LOWER(TRIM(@TRANGTHAI)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLKHACHHANG]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLKHACHHANG]
	@tukhoa nvarchar(40)
AS
	SELECT MAKH,
	TENKH,
		SDT,
	GIOITINH,
	EMAIL,
	DIACHI
	FROM KHACHHANG
	WHERE LOWER(MAKH) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TENKH) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	GIOITINH LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	SDT LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	EMAIL LIKE '%' + TRIM(@tukhoa) + '%'
	OR	DIACHI LIKE '%' + TRIM(@tukhoa) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLKHACHHANGTRACUU]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLKHACHHANGTRACUU]
	@MAKH VARCHAR(12),
	@TENKH NVARCHAR(32) ,
	@SDT VARCHAR(13) ,
	@GIOITINH NVARCHAR(6) ,
	@EMAIL VARCHAR(30) ,
	@DIACHI NVARCHAR(50) 
AS
	SELECT MAKH,
	TENKH,
	SDT,
	GIOITINH,
	EMAIL,
	DIACHI
	FROM KHACHHANG
	WHERE LOWER(MAKH) LIKE '%' + LOWER(TRIM(@MAKH)) + '%'
	AND	LOWER(TENKH) LIKE '%' + LOWER(TRIM(@TENKH)) + '%'
	AND	SDT LIKE '%' + TRIM(@SDT) + '%'
	AND	GIOITINH LIKE '%' + LOWER(TRIM(@GIOITINH)) + '%'	
	AND	EMAIL LIKE '%' + trim(@EMAIL) + '%'
	AND	DIACHI LIKE '%' + TRIM(@DIACHI) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLKHACHHANGTRACUUDUNGKYTU]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLKHACHHANGTRACUUDUNGKYTU]
	@MAKH VARCHAR(12),
	@TENKH NVARCHAR(32) ,
	@SDT VARCHAR(13) ,
	@GIOITINH NVARCHAR(6) ,
	@EMAIL VARCHAR(30) ,
	@DIACHI NVARCHAR(50) 
AS
	SELECT MAKH,
	TENKH,
	SDT,
	GIOITINH,
	EMAIL,
	DIACHI
	FROM KHACHHANG
	WHERE (MAKH) LIKE TRIM(@MAKH)
	AND	(TENKH) LIKE TRIM(@TENKH)
	AND	SDT LIKE  TRIM(@SDT) 
	AND	GIOITINH LIKE TRIM(@GIOITINH)	
	AND	EMAIL LIKE  TRIM(@EMAIL)
	AND	DIACHI LIKE TRIM(@DIACHI)
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLMADIEMDEN]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLMADIEMDEN]
	@tukhoa NVARCHAR(50)
AS
	SELECT MADDEN ,
	TENDDEN,
	MALOAITOUR
	FROM DIEMDEN
	WHERE LOWER(MADDEN) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TENDDEN) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(MALOAITOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLMADIEMDI]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLMADIEMDI]
	@tukhoa NVARCHAR(50)
AS
	SELECT MADDI ,
	TENDDI,
	MALOAITOUR
	FROM DIEMDI
	WHERE LOWER(MADDI) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TENDDI) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(MALOAITOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLMALOAITOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLMALOAITOUR]
	@tukhoa NVARCHAR(50)
AS
	SELECT MALOAITOUR ,
	TENLOAITOUR  
	FROM LOAITOUR
	WHERE LOWER(MALOAITOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TENLOAITOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLNGAYLAPHOADON]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLNGAYLAPHOADON]
	@NGAYLAP VARCHAR(15)
AS
	SELECT SOHD,
	CONVERT (VARCHAR(11),NGAYLAP,103) AS [NGÀY LẬP],
	THANHTIEN,MATOUR,MAKH,MAKH,TRANGTHAI
	FROM HOADON
	WHERE LOWER(NGAYLAP) LIKE '%' + LOWER(TRIM(@NGAYLAP)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLNHANHVIENTRACUU]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLNHANHVIENTRACUU]
	@tukhoa1 varchar(12),
	@tukhoa2 nvarchar(32),
	@tukhoa3 nvarchar(15),
	@tukhoa4 NVARCHAR(6),
	@tukhoa5 varchar(13),
	@tukhoa6 VARCHAR(13),
	@tukhoa7 nvarchar(15)
AS 
	SELECT MANV,
	TENNV,
		CONVERT (VARCHAR(11),NGAYSINH,103) AS [NGAYSINH],
	GIOITINH,
	SDT,
	CCCD,
	CONVERT (VARCHAR(11),NGAYVL,103) AS [NGAYVL]
	FROM NHANVIEN 
	WHERE LOWER(MANV) LIKE '%' + LOWER(TRIM(@tukhoa1)) + '%'
	and	LOWER(TENNV) LIKE '%' + LOWER(TRIM(@tukhoa2)) + '%'
	and	NGAYSINH LIKE '%' + LOWER(TRIM(@tukhoa3)) + '%'
	and	GIOITINH LIKE '%' + LOWER(TRIM(@tukhoa4)) + '%'
	and	SDT LIKE '%' + TRIM(@tukhoa5) + '%'
	and	CCCD LIKE '%' + TRIM(@tukhoa6) + '%'
	and	NGAYVL LIKE '%' + TRIM(@tukhoa7) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLNHANVIEN]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTALLNHANVIEN]
	@tukhoa NVARCHAR(40)--- tìm kiếm nhân viên dựa vào từ khóa
	-- 1: tìm theo mã
	-- 2: tìm theo ten,.... 
	--3: tìm theo sdt
	--loại tìm kiếm tương đối
AS
	SELECT MANV,
	TENNV,
		CONVERT (VARCHAR(11),NGAYSINH,103) AS [NGAYSINH],
	GIOITINH,
	SDT,
	CCCD,
	CONVERT (VARCHAR(11),NGAYVL,103) AS [NGAYVL]
	FROM NHANVIEN 
	WHERE LOWER(MANV) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TENNV) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	GIOITINH LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	NGAYSINH LIKE '%' + TRIM(@tukhoa) + '%'
	OR	SDT LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	CCCD LIKE '%' + TRIM(@tukhoa) + '%'
	OR	NGAYVL LIKE '%' + TRIM(@tukhoa) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLTOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLTOUR]
	@tukhoa NVARCHAR(50)
AS
	SELECT MATOUR,
	TENTOUR,
		GIATOUR,
		CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
		CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	MALOAITOUR,
	MADDEN,
	MADDI
	FROM TOUR
	WHERE LOWER(MATOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(TENTOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(NGAYDI) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(NGAYKETTHUC) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	MOTA LIKE '%' + TRIM(@tukhoa) + '%'
	OR	LOWER(MALOAITOUR) LIKE '%' + LOWER(TRIM(@tukhoa)) + '%'
	OR	LOWER(MADDEN) LIKE '%' + TRIM(@tukhoa) + '%'
	OR	LOWER(MADDI) LIKE '%' + TRIM(@tukhoa) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLTOURLOCDATTOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLTOURLOCDATTOUR]
	
	--@NGAYKETTHUC VARCHAR(13),
	@MADDEN VARCHAR(12),
	@MADDI VARCHAR(12) ,
	@NGAYDI VARCHAR(13),
	@NGAYKETTHUC VARCHAR(13)
AS
	SELECT MATOUR,
	TENTOUR,
		GIATOUR,
		CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
		CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC]

	FROM TOUR
	WHERE LOWER(NGAYDI) LIKE '%' + LOWER(TRIM(@NGAYDI)) + '%' 
	AND	LOWER(NGAYKETTHUC) LIKE '%' + LOWER(TRIM(@NGAYKETTHUC)) + '%'
	AND	LOWER(MADDEN) LIKE '%' + LOWER(TRIM(@MADDEN)) + '%'
	AND	LOWER(MADDI) LIKE '%' + LOWER(TRIM(@MADDI)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTALLTOURTRACUU]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTALLTOURTRACUU]
	@MATOUR VARCHAR(12) ,
	@TENTOUR NVARCHAR(100) ,
	@GIATOUR VARCHAR(13),
	@NGAYDI VARCHAR(13),
	@NGAYKETTHUC VARCHAR(13),
	@MOTA NVARCHAR(300),
	@MALOAITOUR VARCHAR(12),
	@MADDEN VARCHAR(12),
	@MADDI VARCHAR(12) 
AS
	SELECT MATOUR,
	TENTOUR,
		GIATOUR,
		CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
		CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	MALOAITOUR,
	MADDEN,
	MADDI
	FROM TOUR
	WHERE LOWER(MATOUR) LIKE '%' + LOWER(TRIM(@MATOUR)) + '%'
	AND	LOWER(TENTOUR) LIKE '%' + LOWER(TRIM(@TENTOUR)) + '%'
	AND	LOWER(GIATOUR) LIKE '%' + LOWER(TRIM(@GIATOUR)) + '%'
	--AND NGAYDI = @NGAYDI
	AND	LOWER(NGAYDI) LIKE '%' + LOWER(TRIM(@NGAYDI)) + '%' 
	AND	LOWER(NGAYKETTHUC) LIKE '%' + LOWER(TRIM(@NGAYKETTHUC)) + '%'
	AND	LOWER(MOTA) LIKE '%' + LOWER(TRIM(@MOTA)) + '%'
	AND	LOWER(MALOAITOUR) LIKE '%' + LOWER(TRIM(@MALOAITOUR)) + '%'
	AND	LOWER(MADDEN) LIKE '%' + LOWER(TRIM(@MADDEN)) + '%'
	AND	LOWER(MADDI) LIKE '%' + LOWER(TRIM(@MADDI)) + '%'
GO
/****** Object:  StoredProcedure [dbo].[SELECTKH]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTKH]
	@MAKH VARCHAR(12)
AS
BEGIN 
	SELECT MAKH,
	TENKH,
	SDT,
	GIOITINH,
	EMAIL,
	DIACHI
		FROM KHACHHANG
		WHERE MAKH = @MAKH;
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTLOCLOAIDATTOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTLOCLOAIDATTOUR]
	@MALOAITOUR NVARCHAR(50)
AS
BEGIN
	SELECT MATOUR,TENTOUR,GIATOUR,
	CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
	CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA
	FROM TOUR
	WHERE MALOAITOUR = @MALOAITOUR
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTLOCLOAITOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SELECTLOCLOAITOUR]
	@MALOAITOUR NVARCHAR(50)
AS
BEGIN
	SELECT MATOUR,TENTOUR,GIATOUR,
	CONVERT (VARCHAR(11),NGAYDI,103) AS [NGAYDI],
	CONVERT (VARCHAR(11),NGAYKETTHUC,103) AS [NGAYKETTHUC],
	MOTA,
	MALOAITOUR,
	MADDEN,
	MADDI
	FROM TOUR
	WHERE MALOAITOUR = @MALOAITOUR
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTNV]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTNV]
	@MANV VARCHAR(12)
AS
BEGIN 
	SELECT MANV,
	TENNV,
		CONVERT (VARCHAR(11),NGAYSINH,103) AS [NGAYSINH],
	GIOITINH,
	SDT,
	CCCD,
	CONVERT (VARCHAR(11),NGAYVL,103) AS [NGAYVL]
		FROM NHANVIEN
		WHERE MANV = @MANV;
END
GO
/****** Object:  StoredProcedure [dbo].[THEMHOADON]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMHOADON]
	@SOHD VARCHAR(12),
	@NGAYLAP DATE,
	@THANHTIEN INT ,
	@MATOUR VARCHAR(12) ,
	@MAKH VARCHAR(12),
	@MANV VARCHAR(12),
	@TRANGTHAI NVARCHAR(30) 
	AS
	BEGIN
		INSERT INTO HOADON(SOHD,NGAYLAP,THANHTIEN,MATOUR,MAKH,MANV,TRANGTHAI)
		VALUES (@SOHD,@NGAYLAP,@THANHTIEN,@MATOUR,@MAKH,@MANV,@TRANGTHAI);
		IF @@ROWCOUNT > 0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
	END
GO
/****** Object:  StoredProcedure [dbo].[THEMMOIKHACHHANG]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THEMMOIKHACHHANG]
	@MAKH VARCHAR(12) ,
	@TENKH NVARCHAR(32),
	@SDT BIGINT ,
	@GIOITINH NVARCHAR(6) ,
	@EMAIL VARCHAR(30) ,
	@DIACHI NVARCHAR(50) 
AS
BEGIN
	INSERT INTO KHACHHANG
	(
	MAKH,TENKH,SDT,GIOITINH,EMAIL,DIACHI
	)VALUES(
	@MAKH,@TENKH,@SDT ,@GIOITINH ,@EMAIL,@DIACHI
	);
	IF @@ROWCOUNT > 0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[THEMMOINHANVIEN]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THEMMOINHANVIEN]
	@MANV VARCHAR(12) ,
	@TENNV NVARCHAR(32),
	@NGAYSINH DATE ,
	@GIOITINH NVARCHAR(6) ,
	@SDT BIGINT ,
	@CCCD BIGINT ,
	@NGAYVL DATE 
AS
BEGIN
	INSERT INTO NHANVIEN
	(
	MANV,TENNV,NGAYSINH,GIOITINH,SDT,CCCD,NGAYVL
	)VALUES(
	@MANV,@TENNV,@NGAYSINH ,@GIOITINH ,@SDT,@CCCD,@NGAYVL
	);
	IF @@ROWCOUNT > 0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[THEMMOITOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[THEMMOITOUR]
	@MATOUR VARCHAR(12) ,
	@TENTOUR NVARCHAR(100) ,
	@GIATOUR INT ,
	@NGAYDI DATE ,
	@NGAYKETTHUC DATE,
	@MOTA NVARCHAR(300),
	@MALOAITOUR VARCHAR(12) ,
	@MADDEN VARCHAR(12)  ,
	@MADDI VARCHAR(12) 
AS
BEGIN
	INSERT INTO TOUR
	(
	MATOUR,TENTOUR,GIATOUR,NGAYDI,NGAYKETTHUC,MOTA,MALOAITOUR,MADDEN,MADDI
	)VALUES(
	@MATOUR,@TENTOUR,@GIATOUR,@NGAYDI,@NGAYKETTHUC,@MOTA,@MALOAITOUR,@MADDEN,@MADDI
	);
	IF @@ROWCOUNT > 0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEHOADON]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UPDATEHOADON]
	@SOHD VARCHAR(12),
	@NGAYLAP DATE,
	@THANHTIEN INT ,
	@MATOUR VARCHAR(12) ,
	@MAKH VARCHAR(12),
	@MANV VARCHAR(12),
	@TRANGTHAI NVARCHAR(30) 
	AS
	BEGIN 
		UPDATE HOADON
	SET 
		--MANV= @MANV,
		NGAYLAP= @NGAYLAP,
		THANHTIEN = @THANHTIEN,
		MATOUR = @MATOUR,
		MAKH= @MAKH,
		MANV = @MANV,
		TRANGTHAI= @TRANGTHAI
		WHERE SOHD = @SOHD
	IF @@ROWCOUNT >0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
	END
GO
/****** Object:  StoredProcedure [dbo].[UPDATEKHACHHANG]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATEKHACHHANG]
	@MAKH VARCHAR(12) ,
	@TENKH NVARCHAR(32),
	@SDT BIGINT ,
	@GIOITINH NVARCHAR(6) ,
	@EMAIL VARCHAR(30) ,
	@DIACHI NVARCHAR(50)
AS
BEGIN 
	UPDATE KHACHHANG
	SET 
		--MANV= @MANV,
		TENKH = @TENKH,
		SDT= @SDT,
		GIOITINH = @GIOITINH,
		EMAIL = @EMAIL,
		DIACHI= @DIACHI
		WHERE MAKH = @MAKH
	IF @@ROWCOUNT >0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATENHANVIEN]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[UPDATENHANVIEN]
	@MANV VARCHAR(12) ,
	@TENNV NVARCHAR(32),
	@NGAYSINH DATE ,
	@GIOITINH NVARCHAR(6),
	@SDT BIGINT ,
	@CCCD BIGINT ,
	@NGAYVL DATE
AS
BEGIN  
	UPDATE NHANVIEN
	SET 		
		--MANV= @MANV,
		TENNV = @TENNV,
		NGAYSINH= @NGAYSINH,
		GIOITINH = @GIOITINH,
		SDT = @SDT,
		CCCD= @CCCD,
		NGAYVL = @NGAYVL
		WHERE MANV = @MANV
	IF @@ROWCOUNT >0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;	
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATETOUR]    Script Date: 8/8/2023 9:42:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATETOUR]
	@MATOUR VARCHAR(12) ,
	@TENTOUR NVARCHAR(100) ,
	@GIATOUR INT ,
	@NGAYDI DATE ,
	@NGAYKETTHUC DATE,
	@MOTA NVARCHAR(300),
	@MALOAITOUR VARCHAR(12) ,
	@MADDEN VARCHAR(12)  ,
	@MADDI VARCHAR(12) 
AS
BEGIN 
	UPDATE TOUR
	SET 
		--MANV= @MANV,
		MATOUR = @MATOUR,
		TENTOUR= @TENTOUR,
		GIATOUR = @GIATOUR,
		NGAYDI = @NGAYDI,
		NGAYKETTHUC= @NGAYKETTHUC,
		MOTA = @MOTA,
		MALOAITOUR= @MALOAITOUR,
		MADDEN = @MADDEN,
		MADDI= @MADDI
		WHERE MATOUR = @MATOUR
	IF @@ROWCOUNT >0 BEGIN RETURN 1 END
	ELSE BEGIN RETURN 0 END;
END
GO
USE [master]
GO
